.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: white;
  max-width: 100%;

  h2 {
    font-size: 18px;
    padding-left: 40px;
  }

  * {
    box-sizing: content-box
  }

  .hashblocks {
    display: flex;
    align-items: center;
    cursor: grab;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 0px;
    }

    user-select: none;

    ::-webkit-scrollbar {
      height: 0;
      /* height of horizontal scrollbar ← You're missing this */
      width: 4px;
      /* width of vertical scrollbar */
      border: 1px solid #d5d5d5;
    }

    padding: 0px 40px;
    position: relative;

    .card {
      min-height: 160px;
      min-width: 260px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 4px 4px 0px #00000040;
      background: linear-gradient(94.84deg, rgba(16, 27, 82, 0.9) 10%, rgba(6, 11, 38, 1) 100%);
      padding: 20px;
      border-radius: 14px;
      scroll-snap-align: start;

      .info {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 8px;
        // background: linear-gradient(125deg, rgba(16, 27, 82, 0.863) 65%, rgb(51, 62, 126) 100%);
        background-color: #121D52;
        padding: 20px;
        border-radius: 14px;
        height: 60px;

        .id {
          font-size: 14px;
          max-width: 15ch;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .value {
          font-size: 24px;
          font-weight: bold;
        }

        .graph {
          display: flex;
          align-items: center;
          position: absolute;
          top: 0;
          right: 0;
          // height: 100%;
          // width: 50%;
          line-height: 0%;
          width: 25%;
          border-bottom: 100px solid #2b305548;
          border-left: 55px solid #00000000;
          border-radius: 0 14px 14px 0;

          img {
            right: 0;
            position: absolute;
            margin-top: 120px;
            margin-right: 16px;
            width: 60px;
          }

          .size {
            height: 40px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            font-size: 10px;
            left: 0;
            position: absolute;
            margin-top: 120px;
            width: 100px;
          }

          // border-right: 60px solid white;
          p {
            color: white;
          }
        }
      }

      .title {
        margin-top: 16px;
        margin-bottom: 6px;
        color: #A0AEC0;
        font-size: 14px;
      }

      .details {
        display: flex;
        align-items: center;
        gap: 8px;


        .coin {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: #ffffff0e;

          img {
            width: 50%;
          }
        }

        .date {
          display: flex;
          flex-direction: column;
          gap: 2px;

          h3 {
            font-size: 16px;
          }

          p {
            font-size: 14px;
            color: #A0AEC0;
          }
        }
      }
    }

    .divider {
      display: flex;
      min-width: 40px;
      height: 4.5px;
      background-color: #56577A;
    }
  }
}


@media screen and (max-width: 1440px) {
  .container {
    gap: 12px;

    h2 {
      font-size: 10px;
      padding-left: 20px;
    }

    .hashblocks {
      padding: 0px 20px;
      position: relative;

      .card {
        min-width: 180px;
        min-height: 0px;

        .info {
          justify-content: center;
          gap: 6px;
          padding: 16px;
          height: 45px;

          .id {
            font-size: 10px;
            max-width: 16ch;
          }

          .value {
            font-size: 14px;
          }

          .graph {
            border-bottom: 77px solid #2b305548;

            .size {
              height: 60px;
              gap: 20px;
              font-size: 8px;
            }
          }
        }

        .title {
          font-size: 10px;
        }

        .details {
          .coin {
            width: 28px;
            height: 28px;
          }

          .date {
            h3 {
              font-size: 10px;
            }

            p {
              font-size: 10px;
              color: #A0AEC0;
            }
          }
        }
      }

      .divider {
        display: flex;
        min-width: 20px;
        height: 4.5px;
        background-color: #56577A;
      }
    }
  }
}