@keyframes scroll {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-110%);
    }
}

@keyframes scroll-2 {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-110%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
} 

.animate-scroll-2 {
  animation: scroll-2 20s linear infinite;
  animation-delay: -10s; 
  /* animation-fill-mode: backwards; */
} 
