.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 16px;
  color: white;
  margin-bottom: 24px;

  .title {
    width: 80%;
    font-size: 16px;
    color: #b6b6b6;
    margin: 0;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 80%;
    padding: 12px;
    border-radius: 3px;
    cursor: pointer;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    &:hover {
      // background-color: #1A1F37;
      opacity: 0.7;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: #1A1F37;

      img {
        max-width: 24px;
        max-height: 32px;

        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        pointer-events: none
      }
    }

    p {
      font-size: 16px;
    }

    .user {
      color: #d2d2d2;
    }
  }

  .active {
    background: linear-gradient(111.84deg, rgba(38, 46, 87, 0.932) 65.3%, rgba(64, 84, 182, 0.7) 100%);

  }

  .active2 {
    background: #272f83;
    border-radius: 8px;
  }

  .disabled {
    &:hover {
      // background-color: #1A1F37;
      opacity: 1;
      cursor: not-allowed
    }
  }
}

@media screen and (max-width: 1440px) {
  .menu {
    gap: 4px;
    margin-bottom: 12px;

    .title {
      width: 80%;
      font-size: 12px;
      margin: 0;
    }

    .item {
      gap: 14px;
      width: 80%;
      padding: 8px;

      .icon {
        width: 32px;
        height: 32px;

        img {
          max-width: 20px;
          max-height: 20px;
        }
      }

      p {
        font-size: 12px;
      }
    }
  }
}