.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 300px;
  padding: 20px;
  color: white;

  .loadingWrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    .loading {
      margin: auto;
      align-self: center;
      justify-self: center;
    }

    .loadingText {
      text-align: center;
      color: #f5f5f5;
      font-size: 16px;

      span {
        display: inline-block;

        // margin: 0 -.075em;
        animation: loading .7s infinite alternate;

        @for $i from 1 through 6 {
          &:nth-child(#{$i+1}) {
            animation-delay: #{$i*.1}s;
          }
        }
      }
    }
  }

  @keyframes loading {

    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(.8);
    }
  }

  .error {
    margin: auto;
    align-self: center;
    justify-self: center;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    min-height: 240px !important;

    .loadingWrap {
      align-items: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      & > span {
        width: 48px !important;
        height: 48px !important;
  
        svg {
          width: 48px;
          height: 48px;
        }
      }

      .loading {
        margin: auto;
        align-self: center;
        justify-self: center;
      }

      .loadingText {
        text-align: center;
        color: #f5f5f5;
        font-size: 14px;
      }
    }
  }
}