.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;

  .loading {
    margin: auto;
    align-self: center;
    justify-self: center;
  }

  .error {
    margin: auto;
    align-self: center;
    justify-self: center;
  }
}