.chart {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .tooltip {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    font-size: 14px;
    color: #404040;
    background-color: white;

    .label {
      font-weight: bold;
    }
  }

  .legend {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .chart {
    // max-width: 240px;
    // margin: 20px;

    * tspan {
      font-size: 10px;
    }
  }
}