.home {
  display: flex;
  width: 100vw;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    background-color: #060722;
    padding-bottom: 20px;
    display: flex;

    .info {
      display: flex;
      max-height: 60%;
    }
  }

  .chat {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 30px;
    transition: 0.3s;

    background-color: #ffffff25;

    img {
      width: 30px;
      height: 30px;
    }

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
}

@media screen and (max-width: 1440px) {
  .home {
    min-height: 100vh;
    height: auto;

    .container {
      padding-bottom: 20px;
    }
  }
}